
@font-face {
font-family: "Century Gothic";
font-weight: bold;
src: url('../fonts/Century GothicB.ttf') format('truetype');
}
.wrapper{
  background: transparent;
  position:relative;
  width:100%;
}
.ratio{
  position:relative;
  padding-bottom: 346.319444%;
  background:transparent;
}
.content{
  position:absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  padding:0;
  background:transparent;
}
.screen1{
  display: block;
  height: 100%;
  width: 100%;
}
.green1{
  position: relative;
  width: 26.5277778%;
  height:6.1%;
  background: #3ED37D;
  display: inline-block;
  vertical-align: top;
  /* opacity: .1; */
}
.eye1{
  position: absolute;
  left: 3%;
  top: 22%;
  width: 42.2172775%;

}
.eye2{
  position: absolute;
  left: 58%;
  top: 5%;
  width: 39.5732984%;
}
.nose1 {
  position: absolute;
  top: 35%;
  left: 47.5%;
  width: 11.2565445%;
}
.mouth1{
  position: absolute;
  top: 53%;
  left: 18%;
  width: 49.4764398%;
}
.zrachok1{
  position: absolute;
  top: 23%;
  left: 70.5%;
  width: 4.80890052%;
  animation: zrachok1 3s linear infinite;
}
@keyframes zrachok1 {
  0% {left: 70.5%;}
  50% {left: 78%;}
  100% {left: 70.5%;}
}
.purple{
  position: relative;
  width: 44.6527778%;
  height:6.1% ;
  background: #8000D4;
  display: inline-block;
  vertical-align: top;
  /* opacity: .1; */
  overflow: hidden;
}
.hands1{
  position: absolute;
  top: -45%;
  left: 8.2%;
  width: 24.4167963%;
  animation: hands1 3s linear infinite;
}
.hands1:hover{
  animation-play-state: paused;
}
@keyframes hands1 {
  0% {top: -45%;}
  50% {top: -24%;}
  100% {top: -45%;}
}

.hands2{
  position: absolute;
  top: 35%;
  left: 38%;
  width: 24.4167963%;
  animation: hands2 3s infinite;
}
.hands2:hover{
  animation-play-state: paused;
}
@keyframes hands2 {
  0% {top: 38%;}
  50% {top: 15%;}
  100% {top: 38%;}
}
.hands3{
  position: absolute;
  top: -45%;
  left: 67.8%;
  width: 24.4167963%;
  animation: hands3 3s linear infinite;
}
.hands3:hover{
  animation-play-state: paused;
}
@keyframes hands3 {
  0% {top: -45%;}
  50% {top: -24%;}
  100% {top: -45%;}
}
.green2{
  position: relative;
  width: 28.8194444%;
  height:8.8% ;
  background: #3ED37D;
  display: inline-block;
  vertical-align: top;
  /* opacity: .1; */
}
.eye3{
  position: absolute;
  left: 3.4%;
  top: 7%;
  width: 43.7590361%;
}
.zrachok2{
  position: absolute;
  left: 26%;
  top: 22%;
  width: 6%;
  animation: zrachok2 3s linear infinite;
}
@keyframes zrachok2 {
  0% {left: 26%;}
  50% {left: 17%;}
  100% {left: 26%;}
}
.eye4{
  position: absolute;
  left: 63%;
  top: 15%;
  width: 31.9879518%;
}
.zrachok3{
  position: absolute;
  left: 76.4%;
  top: 26%;
  width: 5.5%;
}
.nose2{
  position: absolute;
  left: 42%;
  top: 37%;
  width: 14.2168675%;
}
.mouth2{
  position: absolute;
  left: 21%;
  top: 59%;
  width: 59.6987952%;
}
.tooth1{
  position: relative;
  margin-top: 64%;
  margin-left: 32%;
  margin-right: -31%;
  width: 8.30120482%;
  background: white;
  border-radius: 100%;
  height: 9%;
  width: 8%;
  display: inline-block;
}
.tooth1:hover {
  opacity: 0;
}
.tooth2{
  position: relative;
  margin-top: 12.5%;
  margin-left: 32%;
  margin-right: -31%;
  width: 8.30120482%;
  background: white;
  border-radius: 100%;
  height: 9%;
  width: 8%;
  display: inline-block;
}
.tooth2:hover {
  opacity: 0;
}
.orange{
  position: relative;
  width: 55.5555556%;
  height:9% ;
  background: #FF8947;
  display: inline-block;
  vertical-align: top;
  margin-top: -11.4%;
  /* opacity: .1; */
}
.eye5{
  position: absolute;
  left: 5%;
  top: 15%;
  width: 29.25%;
}
/* .move-area{
  width: 100vw;
  height: 100vh;
  padding: 15% 29.25%;
} */
.nose3{
  position: absolute;
  left: 39%;
  top: 32%;
  width: 22.25%;
}
.eye6{
  position: absolute;
  left: 70%;
  top: 7.7%;
  width: 24.89125%;
}
.mouth3{
  position: absolute;
  left: 40%;
  top: 60%;
  width: 29%;
  animation: mouth3 5s linear infinite;
}
.mouth3:hover{
  animation-play-state: paused;
}
@keyframes mouth3 {
  0% {left: 50%;}
  50% {left: 35%;}
  100% {left: 50%;}
}
.white{
  position: relative;
  width: 15.625%;
  height:9% ;
  background: white;
  display: inline-block;
  vertical-align: top;
  margin-top: -11.4%;
  overflow: hidden;
  background-image: url('../images/strripes.svg');
  background-attachment: fixed;
}
.stripes{
  position: absolute;
  width: 100%;
  /* top: 4.9%; */
}
.pink{
  position: relative;
  width: 28.8194444%;
  height:5.72% ;
  background: #FF57B3;
  display: inline-block;
  vertical-align: top;
}
.wcircle1{
  position: absolute;
  border-radius: 100%;
  width: 15.0554217%;
  height: 20.7828571%;
  top: 3%;
  left: 3%;
  background: white;
}
.wcircle1:hover{
  transform: scale(-0.4);
}
.gcircle1{
  position: absolute;
  border-radius: 100%;
  width: 15.0554217%;
  height: 20.7828571%;
  top: 3%;
  left: 22%;
  background: #3ED37D;
}
.gcircle1:hover{
  transform: scale(-0.4);
}
.wcircle2{
  position: absolute;
  border-radius: 100%;
  width: 15.0554217%;
  height: 20.7828571%;
  top: 3%;
  left: 42%;
  background: white;
}
.wcircle2:hover{
  transform: scale(-0.4);
}
.gcircle2{
  position: absolute;
  border-radius: 100%;
  width: 15.0554217%;
  height: 20.7828571%;
  top: 3%;
  left: 62%;
  background: #3ED37D;
}
.gcircle2:hover{
  transform: scale(-0.4);
}
.wcircle3{
  position: absolute;
  border-radius: 100%;
  width: 15.0554217%;
  height: 20.7828571%;
  top: 3%;
  left: 82%;
  background: white;
}
.wcircle3:hover{
  transform: scale(-0.4);
}

.gcircle3{
  position: absolute;
  border-radius: 100%;
  width: 15.0554217%;
  height: 20.7828571%;
  top: 30%;
  left: 3%;
  background: #3ED37D;
}
.gcircle3:hover{
  transform: scale(-0.4);
}
.wcircle4{
  position: absolute;
  border-radius: 100%;
  width: 15.0554217%;
  height: 20.7828571%;
  top: 30%;
  left: 22%;
  background: white;
}
.wcircle4:hover{
  transform: scale(-0.4);
}
.gcircle4{
  position: absolute;
  border-radius: 100%;
  width: 15.0554217%;
  height: 20.7828571%;
  top: 30%;
  left: 42%;
  background: #3ED37D;
}
.gcircle4:hover{
  transform: scale(-0.4);
}
.wcircle5{
  position: absolute;
  border-radius: 100%;
  width: 15.0554217%;
  height: 20.7828571%;
  top: 30%;
  left: 62%;
  background: white;
}
.wcircle5:hover{
  transform: scale(-0.4);
}
.gcircle5{
  position: absolute;
  border-radius: 100%;
  width: 15.0554217%;
  height: 20.7828571%;
  top: 30%;
  left: 82%;
  background: #3ED37D;
}
.gcircle5:hover{
  transform: scale(-0.4);
}
.p1{
  position: absolute;
  font-family: "Century Gothic";
  font-weight: bold;
  color:white;
  font-size: 40px;
  top: 57.5%;
  left: 5%;
  line-height: 120%;
}
.panel{
  position: relative;
  width: 100%;
  height:1.8% ;
  background: #8000D4;
  display: inline-block;
  vertical-align: top;
  align-content: center;
  /* opacity: .1; */
}
.arrow{
  position: absolute;
  top:-11%;
  left: 46%;
  width: 7%;
}
.hair{
  position: absolute;
  top: 20%;
  left: 13.68%;
  width: 72.6388889%;
  height: 14%;
  overflow: hidden;
  cursor: url("../images/cursor4.svg"), auto;
  /* z-index: 1; */
  /* opacity: .2; */
}
.one{
  background: #8000D4;
}
.two{
  background: #FF57B3;
}
.three{
  background: #3ED37D;
}

.hairstrip{
  position: absolute;
  top: 7%;
  left: 16%;
  width: 68.1883365%;
  animation: hairstrip 1s linear infinite;
}
@keyframes hairstrip {
  0%{top:7%;}
  50%{top:4.5%;}
  100%{top:7%;}

}
.face{
  position: absolute;
  background: #FF8947;
  cursor: url("../images/cursor4.svg"), auto;
}
.odin{
  top: 23.5%;
  left: 21.3%;
  width: 57.3611111%;
  height: 14.7%;
}
.dva{
  top: 21.6%;
  left: 19.1%;
  width: 61.5%;
  height: 18%;
  border-radius: 100%;
}
.tri{
  top: 22.4%;
  left: 21.3%;
  width: 57.3611111%;
  height: 16%;
  border-radius: 20%;
}
/* .face2{
  position: absolute;
  top: 21.6%;
  left: 19.1%;
  width: 62%;
  height: 18%;
  background: #FF8947;
  border-radius: 100%;
} */
.brow{
  position: absolute;
  top: 25%;
  left: 17%;
  width: 15.8333333%;
  height: 1.04271105%;
  background: black;
}
.leye{
  position: absolute;
  cursor: url("../images/cursor4.svg"), auto;
}
.uno{
  top: 27%;
  left: 15.4%;
  width: 24.5458333%;
  height: 2.49288149%;
  background-image: url('../images/leye1.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;

}
.dos{
  top: 26.5%;
  left: 17%;
  width: 19.9222222%;
  height: 5.66232204%;
  background-image: url('../images/leye2.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100% auto;

  background-position: center;

}
.tres{
  top: 27%;
  left: 15%;
  width: 26.25%;
  height: 3.83497092%;
  background-image: url('../images/leye3.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% auto;
  background-position: center;


}
.nose{
  position: absolute;
  cursor: url("../images/cursor4.svg"), auto;
}
.a{
  position: absolute;
  top: 28.1%;
  left: 41.7%;
  width: 16.3194444%;
  height: 2.0854221%;
  background-image: url('../images/nosea.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.b{
  position: absolute;
  top: 28.1%;
  left: 45.5%;
  width: 9.0625%;
  height: 2.7521556%;
  background-image: url('../images/noseb.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.c{
  position: absolute;
  top: 28.1%;
  left: 45.5%;
  width: 9.14097222%;
  height: 2.6394626%;
  background-image: url('../images/nosec.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.reye{
  position: absolute;
  cursor: url("../images/cursor4.svg"), auto;

}
.aa{
  position: absolute;
  top: 24.5%;
  left: 58%;
  width: 26.68125%;
  height: 6.657309%;
  background-image: url('../images/reyeaa.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.bb{
  position: absolute;
  top: 25%;
  left: 60%;
  width: 24.4534722%;
  height: 5.74112693%;
  background-image: url('../images/reyebb.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.cc{
  position: absolute;
  top: 24.5%;
  left: 61%;
  width: 23.3826389%;
  height: 6.74874674%;
  background-image: url('../images/reyecc.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}



.mouth4{
  position: absolute;
  top: 33.7%;
  left: 53%;
  width: 14%;
  animation: mouth4 6s linear infinite;
  animation-play-state: running;
  cursor: url("../images/cursor4.svg"), auto;
}
.mouth42{
  /* position: absolute; */
  /* top: 33.7%;
  left: 53%;
  width: 14%; */
  /* animation: mouth42 6s linear infinite; */
  animation-play-state: paused;
  /* visibility: hidden; */
}
@keyframes mouth4 {
  0%{transform: scale(1);}
  50%{transform: scale(1.8);}
  100%{transform: scale(1);}
}
@keyframes mouth42 {
  0%{transform: scale(1);}
  50%{transform: scale(1.8);}
  100%{transform: scale(1);}
}
.neck{
  position: absolute;
  top: 38.1%;
  left: 42.6%;
  width: 14.8125%;
}
/* .bodybox{
  position: absolute;
  top:41.15%;
  left: 3.5%;
  width: 93.0555556%;
  height: 20.2125526%;

} */
.body{
  position: absolute;

  top:41.16%;
  left: 3.5%;
  width: 93.0555556%;
  height: 20.2125526%;
  cursor: url("../images/cursor4.svg"), auto;

}
.d{
  position: absolute;
  background-image: url('../images/bodyd.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.e{
  position: absolute;
  /* left: 3.6%; */
  background-image: url('../images/bodye.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.f{
  position: absolute;
  /* top: 41.18%; */
  background-image: url('../images/bodyf.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

/* .container{
  position: absolute;
  width: 66%;
  height: 98%;
  top:0.8%;
  left: 17.05%;
  background: transparent;

} */
.dot1{
  position: absolute;
  width: 27%;
  top: 3%;
  left: 5%;
  cursor: url("../images/cursor4.svg"), auto;
}
.dot2{
  position: absolute;
  width: 20%;
  top: 23%;
  left: 58%;
  cursor: url("../images/cursor4.svg"), auto;
}
.dot3{
  position: absolute;
  width: 30%;
  top: 67%;
  left: 13%;
}
.dot4{
  position: absolute;
  width: 12%;
  top: 70%;
  left: 70%;
  cursor: url("../images/cursor4.svg"), auto;
}
.dot5{
  position: absolute;
  width: 18%;
  top: 38%;
  left: 30%;
  cursor: url("../images/cursor4.svg"), auto;
}
.dot6{
  position: absolute;
  width: 10%;
  top: 3%;
  left: 73%;
  cursor: url("../images/cursor4.svg"), auto;
}
.lhand{
  position: absolute;
  cursor: url("../images/cursor4.svg"), auto;
}
.g{
  position: absolute;
  width: 36.1930556%;
  top: 50.26%;
  left: 11.7%;
  height: 3.89131743%;
  background-image: url('../images/lhandg.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.h{
  position: absolute;
  width: 33.28125%;
  top: 50.13%;
  left: 11%;
  height: 5.21495889%;
  background-image: url('../images/lhandh.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.i{
  position: absolute;
  width: 34.6097222%;
  height: 3.63204331%;
  top: 50.52%;
  left: 11%;
  background-image: url('../images/lhandi.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.rhand{
  position: absolute;
  cursor: url("../images/cursor4.svg"), auto;
}
.j{
  top: 50.23%;
  left: 52.5%;
  top: 50.26%;
  left: 52%;
  width: 36.1930556%;
  height: 3.89131743%;
  background-image: url('../images/rhandj.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.k{
  top: 50.23%;
  left: 52.5%;
  top: 50.13%;
  left: 55.5%;
  width: 33.28125%;
  height: 5.21495889%;
  background-image: url('../images/rhandk.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.l{
  top: 50.23%;
  left: 52.5%;
  top: 50.52%;
  left: 54.41%;
  width: 34.6097222%;
  height: 3.63204331%;
  background-image: url('../images/rhandl.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;

}



.pants{
  position: absolute;
  cursor: url("../images/cursor4.svg"), auto;
}
.z{
  position: absolute;
  top: 61.38%;
  left: 18.75%;
  width: 62.6388889%;
  height: 11.3294566%;
  background-image: url('../images/pantsz.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.r{
  position: absolute;
  top: 61.36%;
  left: 18.72%;
  width: 62.6388889%;
  height: 12.2043313%;
  background-image: url('../images/pantsr.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.v{
  position: absolute;
  top: 61.36%;
  left: 18.72%;
  width: 62.6388889%;
  height: 12.6328454%;
  background-image: url('../images/pantsv.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.button1{
  position: relative;
  display: inline-block;
  top: 46.3%;
  margin-left: 22%;
  margin-right: -12.8%;
  width: 12.0833333%;
}

.button2{
  position: relative;
  display: inline-block;
  top: 47.4%;
  margin-left: 32.5%;
  margin-right: -22%;
  width: 12.0833333%;
}
.lleg{
  position: absolute;
  cursor: url("../images/cursor4.svg"), auto;
}
.sq{
  position: absolute;
  top:72.5%;
  left: 13.7%;
  width: 32.2090278%;
  height: 18.48726695%;
  background-image: url('../images/llegsq.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.circ{
  position: absolute;
  top:70.72%;
  left: 13.705%;
  width: 32.2222222%;
  height: 20.2759174%;
  background-image: url('../images/llegcirc.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.rleg{
  position: absolute;
  cursor: url("../images/cursor4.svg"), auto;
}
.kv{
  position: absolute;
  top:72.5%;
  left: 54%;
  width: 32.2090278%;
  height: 18.48726695%;
  background-image: url('../images/rlegkv.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.kr{
  position: absolute;
  top:70.72%;
  left: 54%;
  width: 32.2090278%;
  height: 20.2759174%;
  background-image: url('../images/rlegkr.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.nail{
 position: absolute;
 top: 86.3%;
 left: 16%;
 width: 4.36388889%;
 height: 0.83998396%;
 cursor: url("../images/cursor4.svg"), auto;
}
.razz{
 background: #8000D4;
}
.dvaa{
 background: #FF57B3;
}
.trii{
 background: #3ED37D;
}
.naill{
 position: absolute;
 top: 87.8%;
 left: 16%;
 width: 4.36388889%;
 height: 0.83998396%;
 cursor: url("../images/cursor4.svg"), auto;
}
.un{
 background: #8000D4;
}
.deux{
 background: #FF57B3;
}
.trois{
 background: #3ED37D;
}
.nailll{
 position: absolute;
 top: 89.31%;
 left: 16%;
 width: 4.36388889%;
 height: 0.83998396%;
 cursor: url("../images/cursor4.svg"), auto;
}
.ra{
 background: #8000D4;
}
.dv{
 background: #FF57B3;
}
.tr{
 background: #3ED37D;
}
.rnail{
 position: absolute;
 top: 86.3%;
 left: 79.5%;
 width: 4.36388889%;
 height: 0.83998396%;
 cursor: url("../images/cursor4.svg"), auto;
}
.razzz{
 background: #8000D4;
}
.dvaaa{
 background: #FF57B3;
}
.triii{
 background: #3ED37D;
}
.rnaill{
 position: absolute;
 top: 87.8%;
 left: 79.5%;
 width: 4.36388889%;
 height: 0.83998396%;
 cursor: url("../images/cursor4.svg"), auto;
}
.unn{
 background: #8000D4;
}
.deuxx{
 background: #FF57B3;
}
.troiss{
 background: #3ED37D;
}
.rnailll{
 position: absolute;
 top: 89.31%;
 left: 79.5%;
 width: 4.36388889%;
 height: 0.83998396%;
 cursor: url("../images/cursor4.svg"), auto;
}
.raa{
 background: #8000D4;
}
.dvv{
 background: #FF57B3;
}
.trr{
 background: #3ED37D;
}
.bubble1{
  position: absolute;
  top:31.1%;
  left: 20%;
  width: 25.4861111%;
  /* cursor: url("../images/cursor4.svg"), auto; */
}
.cross{
  position: absolute;
  top: 31.3%;
  left: 38.9%;
  width: 1.35138889%;
  cursor: url("../images/cursor4.svg"), auto;
}
.cross:hover{
  transform: scale(1.3);
}
.tip1{
  position: absolute;
  top: 20.5%;
  left: 2%;
  width: 16.1805556%;
}
.ptip1{
  position: absolute;
  font-family: "Century Gothic";
  font-weight: bold;
  font-size: 14px;
  top: 20.98%;
  left: 3.55%;
  line-height: 120%;
}
.tip2{
  position: absolute;
  top: 32%;
  right: 2.3%;
  width: 17.8472222%;
}
.ptip2{
  position: absolute;
  font-family: "Century Gothic";
  font-weight: bold;
  font-size: 14px;
  top: 32.48%;
  right: 3.6%;
  line-height: 120%;
}
.tip3{
  position: absolute;
  top: 34.5%;
  left: 2%;
  width: 17.4305556%;
}
.ptip3{
  position: absolute;
  font-family: "Century Gothic";
  font-weight: bold;
  font-size: 14px;
  top: 35%;
  left: 3.3%;
  line-height: 120%;
}
.tip4{
  position: absolute;
  top: 42%;
  left: 2%;
  width: 14.5833333%;
}
.ptip4{
  position: absolute;
  font-family: "Century Gothic";
  font-weight: bold;
  font-size: 14px;
  top: 42.5%;
  left: 3.3%;
  line-height: 120%;
}
.tip5{
  position: absolute;
  top: 45%;
  right: 2.3%;
  width: 15.625%;
}
.ptip5{
  position: absolute;
  font-family:"Century Gothic";
  font-weight: bold;
  font-size: 14px;
  top: 45.5%;
  right: 4%;
  line-height: 120%;
}
.tip6{
  position: absolute;
  top: 56.7%;
  right: 2.3%;
  width: 19.9305556%;
}
.ptip6{
  position: absolute;
  font-family: "Century Gothic";
  font-weight: bold;
  font-size: 14px;
  top: 57.18%;
  right: 3.6%;
  line-height: 120%;
}
.tip7{
  position: absolute;
  top: 61.3%;
  left: 2%;
  width: 14.375%;
}
.ptip7{
  position: absolute;
  font-family: "Century Gothic";
  font-weight: bold;
  font-size: 14px;
  top: 61.8%;
  left: 3.3%;
  line-height: 120%;
}
.tip8{
  position: absolute;
  top: 69%;
  right: 2.3%;
  width: 11.1805556%;
}
.ptip8{
  position: absolute;
  font-family: "Century Gothic";
  font-weight: bold;
  font-size: 14px;
  top: 69.48%;
  right: 3.6%;
  line-height: 120%;
}
.tip9{
  position: absolute;
  top: 74%;
  left: 2%;
  width: 17.0833333%;
}
.ptip9{
  position: absolute;
  font-family: "Century Gothic";
  font-weight: bold;
  font-size: 14px;
  top: 74.48%;
  left: 3.3%;
  line-height: 120%;
}
.tip10{
  position: absolute;
  top: 83%;
  right: 2.3%;
  width: 17.7083333%;
}
.ptip10{
  position: absolute;
  font-family: "Century Gothic";
  font-weight: bold;
  font-size: 14px;
  top: 83.48%;
  right: 3.6%;
  line-height: 120%;
}
.fin{
  position: absolute;
  top: 93.5%;
  left: 39.5%;
  width: 21.25%;
  cursor: url("../images/cursor4.svg"), auto;
}
.pfin{
  position: absolute;
  font-family: "Century Gothic";
  font-weight: bold;
  font-size: 32px;
  top: 94.05%;
  left: 45.8%;
  line-height: 120%;
  cursor: url("../images/cursor4.svg"), auto;
}

.screen2{
  position: fixed;
  display: none;
  top: 0%;
  height: 100%;
  width: 100%;
  /* background: white; */
  overflow: hidden;
  /* background-image: url('../images/screen2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  opacity: .5; */
}
.chelovek{
  position: absolute;
  width: 0.73611111%;

}
.hairv{
  position: absolute;
  top: -29%;
  bottom: 20%;
  left: 19.64%;
  width: 18.9583333%;
  padding-bottom: 65.5677656%;
}

.pur{
  background-image: url('../images/hair1v.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.pink{
  background-image: url('../images/hair2v.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.green{
  background-image: url('../images/hair3v.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.stripesval{
  position: absolute;
  height: 9.650914%;
  width: 12.9055556%;
  top: 30%;
  left: 22.6%;
  background-image: url('../images/stripesval.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;

}
.faceval{
  position: absolute;
}
.kvadrat{

  bottom: 20%;
  left: 21.56%;
  width: 14.9416667%;
  padding-bottom: 92.4893103%;
  background-image: url('../images/facekvadrat.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.kruzhok{
  top: 21%;
  left: 21.42%;
  width: 15.4166667%;
  height: 29.1878173%;
  background-image: url('../images/facekruzhok.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.krkvadrat{
  top: 23%;
  left: 21.215%;
  width: 15.8333333%;
  height: 26.7766497%;
  background-image: url('../images/facekrkvadrat.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.valbrow{
  position: absolute;
  top: 27.5%;
  left: 20.56%;
  width: 4.11180556%;
  height: 1.7106599%;
  background-image: url('../images/valbrow.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}



.footer{
  position: absolute;
  top: 94.3%;
  width: 100%;
  height: 5.7106599%;
  background: #8000D4;
}
