@media all and (min-width: 1607px) and (max-width: 1680px){
div .p1 {font-size: 46px;}
div .ptip1 {font-size: 16px; top: 20.979%;}
div .ptip2 {font-size: 16px;top: 32.46%;right: 3.8%;}
div .ptip3 {font-size: 16px;top: 34.98%;}
div .ptip4 {font-size: 16px;top: 42.47%;}
div .ptip5 {font-size: 16px;top: 45.45%;right: 4.22%;}
div .ptip6 {font-size: 16px;top: 57.15%;right: 3.75%;}
div .ptip7 {font-size: 16px;top: 61.78%;left: 3.4%;}
div .ptip8 {font-size: 16px;top: 69.47%;right: 3.8%;}
div .ptip9 {font-size: 16px;top: 74.48%;left: 3.3%;}
div .ptip10 {font-size: 16px;top: 83.45%;right: 3.705%;}
div .pfin {font-size: 38px;top: 94.05%;left: 45.7%;}
div.orange {height:9.01%;}
}

@media all and (min-width: 1500px) and (max-width: 1606px){
div .p1 {font-size: 46px;}
div .ptip1 {font-size: 15px; top: 20.979%;}
div .ptip2 {font-size: 15px;top: 32.46%;right: 3.8%;}
div .ptip3 {font-size: 15px;top: 34.98%;}
div .ptip4 {font-size: 15px;top: 42.47%;}
div .ptip5 {font-size: 15px;top: 45.45%;right: 4.22%;}
div .ptip6 {font-size: 15px;top: 57.15%;right: 3.75%;}
div .ptip7 {font-size: 15px;top: 61.78%;left: 3.4%;}
div .ptip8 {font-size: 15px;top: 69.47%;right: 3.8%;}
div .ptip9 {font-size: 15px;top: 74.48%;left: 3.3%;}
div .ptip10 {font-size: 15px;top: 83.45%;right: 3.705%;}
div .pfin {font-size: 38px;top: 94.05%;left: 45.7%;}
div.orange {height:9.02%;}
div.body {top:41.17%;}
div.pink {height:5.73%;}
}
@media all and (min-width: 1441px) and (max-width: 1499px){
div .p1 {font-size: 46px;}
div .ptip1 {font-size: 15px; top: 20.965%;left: 3.53%;}
div .ptip2 {font-size: 15px;top: 32.42%;right: 3.3%;}
div .ptip3 {font-size: 15px;top: 34.95%;left: 2.95%;}
div .ptip4 {font-size: 15px;top: 42.44%;left: 3.05%;}
div .ptip5 {font-size: 15px;top: 45.4%;right: 3.9%;}
div .ptip6 {font-size: 15px;top: 57.13%;right: 3.4%;}
div .ptip7 {font-size: 15px;top: 61.73%;left: 3%;}
div .ptip8 {font-size: 15px;top: 69.47%;right: 3.4%;}
div .ptip9 {font-size: 15px;top: 74.45%;left: 3%;}
div .ptip10 {font-size: 15px;top: 83.45%;right: 3.3%;}
div .pfin {font-size: 38px;top: 93.95%;left: 45.5%;}
div.orange {height:9.03%;}
div.body {top:41.17%;}
div.pink {height:5.74%;}
}
@media all and (min-width: 1434px) and (max-width: 1439px){
div.orange {height:9.03%;}
div.body {top:41.17%;}
div.pink {height:5.74%;}
}
@media all and (min-width: 1398px) and (max-width: 1433px){
div.orange {height:9.04%;}
div.body {top:41.18%;}
div.pink {height:5.74%;}
}
@media all and (min-width: 1367px) and (max-width: 1397px){
div .ptip1 {font-size: 13.5px; top: 20.965%;left: 3.5%;}
div .ptip2 {font-size: 13.5px;top: 32.42%;right: 3.6%;}
div .ptip3 {font-size: 13.5px;top: 34.98%;left: 3.2%;}
div .ptip4 {font-size: 13.5px;top: 42.46%;left: 3.2%;}
div .ptip5 {font-size: 13.5px;top: 45.45%;right: 4.1%;}
div .ptip6 {font-size: 13.5px;top: 57.13%;right: 3.5%;}
div .ptip7 {font-size: 13.5px;top: 61.75%;left: 3.1%;}
div .ptip8 {font-size: 13.5px;top: 69.47%;right: 3.5%;}
div .ptip9 {font-size: 13.5px;top: 74.45%;left: 3.2%;}
div .ptip10 {font-size: 13.5px;top: 83.45%;right: 3.5%;}
div.orange {height:9.04%;}
div.body {top:41.18%;}
div.pink {height:5.75%;}
}
@media all and (min-width: 1356px) and (max-width: 1366px){
div .p1 {font-size: 38px;}
div .ptip1 {font-size: 13.5px; top: 20.965%;left: 3.5%;}
div .ptip2 {font-size: 13.5px;top: 32.42%;right: 3.6%;}
div .ptip3 {font-size: 13.5px;top: 34.98%;left: 3.2%;}
div .ptip4 {font-size: 13.5px;top: 42.46%;left: 3.2%;}
div .ptip5 {font-size: 13.5px;top: 45.45%;right: 4.1%;}
div .ptip6 {font-size: 13.5px;top: 57.13%;right: 3.5%;}
div .ptip7 {font-size: 13.5px;top: 61.75%;left: 3.1%;}
div .ptip8 {font-size: 13.5px;top: 69.47%;right: 3.5%;}
div .ptip9 {font-size: 13.5px;top: 74.45%;left: 3.2%;}
div .ptip10 {font-size: 13.5px;top: 83.45%;right: 3.5%;}
div.orange {height:9.04%;}
div.body {top:41.18%;}
div.pink {height:5.75%;}
}
@media all and (min-width: 1306px) and (max-width: 1355px){
div .p1 {font-size: 38px;}
div .ptip1 {font-size: 13px; top: 20.965%;left: 3.5%;}
div .ptip2 {font-size: 13px;top: 32.46%;right: 3.6%;}
div .ptip3 {font-size: 13px;top: 34.99%;left: 3.2%;}
div .ptip4 {font-size: 13px;top: 42.48%;left: 3.2%;}
div .ptip5 {font-size: 13px;top: 45.47%;right: 4.2%;}
div .ptip6 {font-size: 13px;top: 57.16%;right: 3.7%;}
div .ptip7 {font-size: 13px;top: 61.76%;left: 3.35%;}
div .ptip8 {font-size: 13px;top: 69.47%;right: 3.7%;}
div .ptip9 {font-size: 13px;top: 74.45%;left: 3.2%;}
div .ptip10 {font-size: 13px;top: 83.46%;right: 3.6%;}
div.orange {height:9.04%;}
div.body {top:41.18%;}
div.pink {height:5.75%;}
}
@media all and (min-width: 1283px) and (max-width: 1305px){
div .p1 {font-size: 38px;}
div .ptip1 {font-size: 13px; top: 20.965%;left: 3.4%;}
div .ptip2 {font-size: 13px;top: 32.46%;right: 3.4%;}
div .ptip3 {font-size: 13px;top: 34.99%;left: 3%;}
div .ptip4 {font-size: 13px;top: 42.48%;left: 3%;}
div .ptip5 {font-size: 13px;top: 45.47%;right: 4%;}
div .ptip6 {font-size: 13px;top: 57.16%;right: 3.5%;}
div .ptip7 {font-size: 13px;top: 61.76%;left: 3%;}
div .ptip8 {font-size: 13px;top: 69.47%;right: 3.5%;}
div .ptip9 {font-size: 13px;top: 74.45%;left: 3%;}
div .ptip10 {font-size: 13px;top: 83.46%;right: 3.4%;}
div.orange {height:9.05%;}
div.body {top:41.18%;}
div.pink {height:5.75%;}
div .pfin {font-size: 30px;top: 93.99%;left: 45.5%;}
}
@media all and (min-width: 1281px) and (max-width: 1282px){
div .p1 {font-size: 38px;}
div .ptip1 {font-size: 13px; top: 20.965%;left: 3.4%;}
div .ptip2 {font-size: 13px;top: 32.46%;right: 3.4%;}
div .ptip3 {font-size: 13px;top: 34.99%;left: 3%;}
div .ptip4 {font-size: 13px;top: 42.48%;left: 3%;}
div .ptip5 {font-size: 13px;top: 45.47%;right: 4%;}
div .ptip6 {font-size: 13px;top: 57.16%;right: 3.5%;}
div .ptip7 {font-size: 13px;top: 61.76%;left: 3%;}
div .ptip8 {font-size: 13px;top: 69.47%;right: 3.5%;}
div .ptip9 {font-size: 13px;top: 74.45%;left: 3%;}
div .ptip10 {font-size: 13px;top: 83.46%;right: 3.4%;}
div.orange {height:9.05%;}
div.body {top:41.18%;}
div.pink {height:5.76%;}
div .pfin {font-size: 30px;top: 93.99%;left: 45.5%;}
}
@media all and (min-width: 1221px) and (max-width: 1280px){
div .p1 {font-size: 38px;}
div .ptip1 {font-size: 12px; top: 21%;left: 3.7%;}
div .ptip2 {font-size: 12px;top: 32.49%;right: 4%;}
div .ptip3 {font-size: 12px;top: 34.99%;left: 3.45%;}
div .ptip4 {font-size: 12px;top: 42.48%;left: 3.3%;}
div .ptip5 {font-size: 12px;top: 45.48%;right: 4.4%;}
div .ptip6 {font-size: 12px;top: 57.16%;right: 3.88%;}
div .ptip7 {font-size: 12px;top: 61.76%;left: 3.3%;}
div .ptip8 {font-size: 12px;top: 69.47%;right: 3.75%;}
div .ptip9 {font-size: 12px;top: 74.45%;left: 3.4%;}
div .ptip10 {font-size: 12px;top: 83.46%;right: 3.8%;}
div.orange {height:9.05%;}
div.body {top:41.18%;}
div.pink {height:5.76%;}
div .pfin {font-size: 28px;top: 94%;left: 45.9%;}
}
@media all and (min-width: 1191px) and (max-width: 1220px){
div .p1 {font-size: 38px;}
div .ptip1 {font-size: 12px; top: 20.96%;left: 3.45%;}
div .ptip2 {font-size: 12px;top: 32.45%;right: 3.7%;}
div .ptip3 {font-size: 12px;top: 34.99%;left: 3.1%;}
div .ptip4 {font-size: 12px;top: 42.45%;left: 3.1%;}
div .ptip5 {font-size: 12px;top: 45.45%;right: 4%;}
div .ptip6 {font-size: 12px;top: 57.16%;right: 3.6%;}
div .ptip7 {font-size: 12px;top: 61.76%;left: 3.2%;}
div .ptip8 {font-size: 12px;top: 69.47%;right: 3.65%;}
div .ptip9 {font-size: 12px;top: 74.45%;left: 3.16%;}
div .ptip10 {font-size: 12px;top: 83.46%;right: 3.5%;}
div.orange {height:9.05%;}
div.body {top:41.18%;}
div.pink {height:5.76%;}
div .pfin {font-size: 26px;top: 94.05%;left: 46%;}
}
@media all and (min-width: 171px) and (max-width: 1190px){
div .p1 {font-size: 34px;}
div .ptip1 {font-size: 11.5px; top: 20.96%;left: 3.45%;}
div .ptip2 {font-size: 11.5px;top: 32.45%;right: 3.7%;}
div .ptip3 {font-size: 11.5px;top: 34.99%;left: 3.1%;}
div .ptip4 {font-size: 11.5px;top: 42.45%;left: 3.1%;}
div .ptip5 {font-size: 11.5px;top: 45.45%;right: 4%;}
div .ptip6 {font-size: 11.5px;top: 57.16%;right: 3.6%;}
div .ptip7 {font-size: 11.5px;top: 61.76%;left: 3.2%;}
div .ptip8 {font-size: 11.5px;top: 69.47%;right: 3.65%;}
div .ptip9 {font-size: 11.5px;top: 74.45%;left: 3.16%;}
div .ptip10 {font-size: 11.5px;top: 83.46%;right: 3.5%;}
div.orange {height:9.05%;}
div.body {top:41.18%;}
div.pink {height:5.76%;}
div .pfin {font-size: 24px;top: 94.05%;left: 46%;}
}
@media all and (min-width: 1100px) and (max-width: 1170px){
div .p1 {font-size: 34px;}
div .ptip1 {font-size: 11px; top: 20.96%;left: 3.45%;}
div .ptip2 {font-size: 11px;top: 32.45%;right: 3.7%;}
div .ptip3 {font-size: 11px;top: 34.99%;left: 3.1%;}
div .ptip4 {font-size: 11px;top: 42.45%;left: 3.1%;}
div .ptip5 {font-size: 11px;top: 45.45%;right: 4%;}
div .ptip6 {font-size: 11px;top: 57.16%;right: 3.6%;}
div .ptip7 {font-size: 11px;top: 61.76%;left: 3.2%;}
div .ptip8 {font-size: 11px;top: 69.47%;right: 3.65%;}
div .ptip9 {font-size: 11px;top: 74.45%;left: 3.16%;}
div .ptip10 {font-size: 11px;top: 83.46%;right: 3.5%;}
div.orange {height:9.05%;}
div.body {top:41.18%;}
div.pink {height:5.76%;}
div .pfin {font-size: 24px;top: 94.05%;left: 46%;}
}
